body 
  { color: #444; background: #fafafa;
    font-family: sans-serif;
    margin: 10%; 
    padding: 0; }

.container
  { padding: 2em;
    border: 4px solid #ccc; }

.container h2
  { color: #222;
    font: bold 160%/120% 'Helvetica', 'Arial Black', sans-serif !important; }

a { color: #1375C8; }

hr { height: 1px; background-color: #666; border: 0; }